**/*.env
**/__pycache__/
*.pyc
*.jpg
*.png
requestly/CityTrack/*
User/.env
User/.env.*

User/.expo/
User/.metro-cache/
User/.cache/

User/android/.gradle/
User/android/build/
User/android/app/build/
User/android/local.properties
User/android/app/release/
User/android/app/debug/

.vscode
node_modules/
.next